<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <title>RTL Version | Skote - Django Admin & Dashboard Template | Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Skote Premium Multipurpose Admin & Dashboard Template documentation of Django" name="description"/>
    <meta content="Themesbrand" name="author"/>
    <meta name="keywords" content="Skote admin documentation, Skote Django documentation">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>

</head>

<body data-topbar="dark">

<!-- Begin page -->
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="#" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="assets/images/logo-sm.png" alt="" height="25">
                            </span>
                        <span class="logo-lg"><img src="assets/images/logo-light.png" alt="" height="20"></span>
                    </a>
                </div>


            </div>

            <div class="d-flex">
                <!-- <div class="d-inline-block">
                    <a href="https://themeforest.net/item/skote-html-django-admin-dashboard-template/31582060/support"
                       target="_blank" class="header-item">Support</a>
                </div>

                <div class="d-none d-md-inline-block">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfiP9bDHzIQdQoMXFrYvJx00wyFzSu_cqBWP0N0uUHpqjrbzQ/viewform"
                       target="_blank" class="header-item">Need Customization?</a>
                </div> -->

                <div class="d-inline-block">
                    <a href="#" class="header-item badge badge-danger m-5 font-weight-bold">Contact</a>
                </div>


                <!--<div class="d-inline-block">
                    <h5 class="header-item m-0"><span class="badge badge-danger">Contact</span></h5>
                </div>-->
            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->

    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="p-lg-1 w-50">
                                    <h4 class="mt-0 mb-4">Quick search by citation:</h4>
                                    <form>
                                        <div class="form-group">
                                            <label for="inputTitle">Title:</label>
                                            <input type="number" class="form-control" id="inputTitle">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSection">Section</label>
                                            <input type="password" class="form-control" id="inputSection"
                                                   placeholder="section">
                                        </div>
                                        <button type="submit" class="btn btn-danger">Go!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->


<!-- JAVASCRIPT -->

<script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>