<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{section_number}}</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <style>
        head {
            font-size: 40px;
            font-weight: bold;
            color: darkcyan;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    {% if details %}
    {{details|safe}}
    {% else %}
    {% include 'utility-404error.html' %}
    {% endif %}

    <div class="mt-2">
        {% if citations %}
        {% for cita in citations %}
        <span><a class="list-group-item-action list-group-item-info" target="_blank"
                 href="https://www.federalregister.gov/documents/search?conditions[term]={{cita}}">{{cita}}</a></span>
        {% endfor %}
        {% endif %}
    </div>
</div>
</body>
</html>